<a href="https://colab.research.google.com/github/SaraElizabethGarciaCajero/Colab/blob/main/Act_08_Garc%C3%ADa_Cajero_Sara_Elizabeth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nombre: Sara Elizabeth García Cajero

ID: 223299-1

Nombre del Profesor: Lázaro Bustio Martínez

Descripción: Se desea crear un programa que obtenga el promedio de una columna dada en un DataFrame.

In [ ]:
import pandas as pd #se importa la librería de pandas
import numpy as np #se importa la librería de numpy

data = {'Nombres': ['Freya', 'Paulina', 'Daniela', 'Ana Paulina', 'Mateo', 'Leonel', 'Erick', 'Ignacio', 'Alejandro'],
        'Promedio Final': [100, 99, 50, 65, 78, 97, 67, 55, 93],
        'Examen Final': [88, 76, 95, 79, 100, 96, 65, 85, 71 ],
        'Faltas': [0, 1, 5, 2, 9, 0, 3, 11, 2]}#Creamos nuestro DataFrame, los elementos serán los nombres, porcentajes de evaluación, calificaciones y faltas
df = pd.DataFrame(data)
df#imprimimos nuestro DataFrame

       Nombres  Promedio Final  Examen Final  Faltas
0        Freya             100            88       0
1      Paulina              99            76       1
2      Daniela              50            95       5
3  Ana Paulina              65            79       2
4        Mateo              78           100       9
5       Leonel              97            96       0
6        Erick              67            65       3
7      Ignacio              55            85      11
8    Alejandro              93            71       2

In [ ]:
mean_df = df['Promedio Final'].mean()#Sacamos el promedio de la columna "Promedio Final"
print(mean_df)

78.22222222222223

In [ ]:
mean_df = df['Examen Final'].mean()#Sacamos el promedio de la columna "Porcentaje de evaluación"
print(mean_df)

83.88888888888889

In [ ]:
mean_df = df['Faltas'].mean()#Sacamos el promedio de la columna "Faltas"
print(mean_df)

3.6666666666666665